# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Code::Blocks files
*.depend
*.layout
*.save
*.cbp

# Test-Application
main.cpp

# Others
*.dat
*.ttf
*.ini
*.bat
*.cfg

# Object directory
obj/

# Binary directory
bin/

fonts/